<div class="container page-top">
  <div class="media">
      <div class="media-body">
        <h2 class="media-heading text-center"><%= current_user.name.capitalize %>'s Registered Applications</h2>
      </div>
  </div>
  <br />
  <br />
  <div class="row">
  <div class="col-md-8">
    <% @registered_applications.each do |registered_application| %>
      <div class="media">
        <div class="media-left">
          <%= link_to "", registered_application.url, class: 'media-object glyphicon glyphicon-new-window' %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to registered_application.name, registered_application %></h4>

          <p><%= link_to registered_application.url, registered_application %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "Register App", new_registered_application_path, class: 'btn btn-primary' %>
  </div>

</div>

