<div class="container">
  <h2 class="text-center">
    <%= @registered_application.name %>
    <small>
      <%= @registered_application.url %>
    </small>
  </h2>

  <br />
  <div class="row">
    <div class="col-md-6">
      <%= pie_chart @registered_application.events.group(:name).count %>
    </div>
    <div class="col-md-6">
      <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "Edit", edit_registered_application_path(@registered_application), class: 'btn btn-success' %>
  </div>
</div>

   



